In [4]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Load your data into a pandas DataFrame
data = pd.read_csv("your_data.csv")

# Fit mixed-effects model
mixed_model = smf.mixedlm("outcome_variable ~ predictor1 + predictor2 + ...", data, groups=data["country"])
mixed_result = mixed_model.fit()

# Print summary of the model
print(mixed_result.summary())

KeyboardInterrupt:

In [5]:
import pandas as pd

### Create master ISO list

In [6]:
ISO_df = pd.read_csv(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\ISO_list.csv")
ISO_masterlist = ISO_df['alpha-3'].tolist()
print(ISO_masterlist)

['AFG', 'ALA', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA', 'ATA', 'ATG', 'ARG', 'ARM', 'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BES', 'BIH', 'BWA', 'BVT', 'BRA', 'IOT', 'BRN', 'BGR', 'BFA', 'BDI', 'CPV', 'KHM', 'CMR', 'CAN', 'CYM', 'CAF', 'TCD', 'CHL', 'CHN', 'CXR', 'CCK', 'COL', 'COM', 'COG', 'COD', 'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CUW', 'CYP', 'CZE', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'SWZ', 'ETH', 'FLK', 'FRO', 'FJI', 'FIN', 'FRA', 'GUF', 'PYF', 'ATF', 'GAB', 'GMB', 'GEO', 'DEU', 'GHA', 'GIB', 'GRC', 'GRL', 'GRD', 'GLP', 'GUM', 'GTM', 'GGY', 'GIN', 'GNB', 'GUY', 'HTI', 'HMD', 'VAT', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'IMN', 'ISR', 'ITA', 'JAM', 'JPN', 'JEY', 'JOR', 'KAZ', 'KEN', 'KIR', 'PRK', 'KOR', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE', 'LTU', 'LUX', 'MAC', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI', 'MLT', 'MHL', 'MTQ', 'MRT', 'MUS', 'MYT', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG', 'MNE', 'MSR', 'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL', 'NZL', 'NIC', 'NER', 'NGA', 'NIU', 'NFK', 'MKD', 'MNP', 'NOR', 'OMN', 'PAK', 'PLW', 'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'PCN', 'POL', 'PRT', 'PRI', 'QAT', 'REU', 'ROU', 'RUS', 'RWA', 'BLM', 'SHN', 'KNA', 'LCA', 'MAF', 'SPM', 'VCT', 'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP', 'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SGS', 'SSD', 'ESP', 'LKA', 'SDN', 'SUR', 'SJM', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TKL', 'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TCA', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'UMI', 'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'VGB', 'VIR', 'WLF', 'ESH', 'YEM', 'ZMB', 'ZWE']

## Population DF

In [89]:
pop_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Population Data.xlsx")

In [149]:
display(pop_df)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720859132.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0,35588987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [155]:
# Melt the DataFrame to transform the years into a single column
population_df = pd.melt(pop_df, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
population_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
population_df.rename(columns={'Value': 'Population, total'}, inplace=True)

# Print the resulting DataFrame
display(population_df)

                      Country Name Country Code  Year  Population, total
0                            Aruba          ABW  1960            54608.0
1      Africa Eastern and Southern          AFE  1960        130692579.0
2                      Afghanistan          AFG  1960          8622466.0
3       Africa Western and Central          AFW  1960         97256290.0
4                           Angola          AGO  1960          5357195.0
...                            ...          ...   ...                ...
16753                       Kosovo          XKX  2022          1761985.0
16754                  Yemen, Rep.          YEM  2022         33696614.0
16755                 South Africa          ZAF  2022         59893885.0
16756                       Zambia          ZMB  2022         20017675.0
16757                     Zimbabwe          ZWE  2022         16320537.0

[16758 rows x 4 columns]

## Country Size DF

In [156]:
size_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\Country Size.xlsx")
display(size_df)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,Land area (sq. km),AG.LND.TOTL.K2,NaN,180.0,180.0,180.0,180.0,180.0,...,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02,1.800000e+02
1,Africa Eastern and Southern,AFE,Land area (sq. km),AG.LND.TOTL.K2,NaN,14571611.0,14571611.0,14571611.0,14571611.0,14571611.0,...,1.484514e+07,1.484510e+07,1.484505e+07,1.484511e+07,1.484511e+07,1.484510e+07,1.484512e+07,1.484513e+07,1.484509e+07,1.484509e+07
2,Afghanistan,AFG,Land area (sq. km),AG.LND.TOTL.K2,NaN,652230.0,652230.0,652230.0,652230.0,652230.0,...,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05,6.522300e+05
3,Africa Western and Central,AFW,Land area (sq. km),AG.LND.TOTL.K2,NaN,9046580.0,9046580.0,9046580.0,9046580.0,9046580.0,...,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045780e+06,9.045773e+06,9.045773e+06
4,Angola,AGO,Land area (sq. km),AG.LND.TOTL.K2,NaN,1246700.0,1246700.0,1246700.0,1246700.0,1246700.0,...,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06,1.246700e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Land area (sq. km),AG.LND.TOTL.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Land area (sq. km),AG.LND.TOTL.K2,NaN,527970.0,527970.0,527970.0,527970.0,527970.0,...,5.279700e+05,5.279700e+05,5.279700e+05,5.279700e+05,5.279700e+05,5.279700e+05,5.279700e+05,5.279700e+05,5.279700e+05,5.279700e+05
263,South Africa,ZAF,Land area (sq. km),AG.LND.TOTL.K2,NaN,1213090.0,1213090.0,1213090.0,1213090.0,1213090.0,...,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06,1.213090e+06
264,Zambia,ZMB,Land area (sq. km),AG.LND.TOTL.K2,NaN,743390.0,743390.0,743390.0,743390.0,743390.0,...,7.433900e+05,7.433900e+05,7.433900e+05,7.433900e+05,7.433900e+05,7.433900e+05,7.433900e+05,7.433900e+05,7.433900e+05,7.433900e+05
265,Zimbabwe,ZWE,Land area (sq. km),AG.LND.TOTL.K2,NaN,386850.0,386850.0,386850.0,386850.0,386850.0,...,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05,3.868500e+05

In [93]:
# Melt the DataFrame to transform the years into a single column
consize_df = pd.melt(size_df, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
consize_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
consize_df.rename(columns={'Value': 'Land area (sq. km)'}, inplace=True)

# Filter rows based on whether the country code is in the predefined list
consize_df = consize_df[consize_df['Country Code'].isin(ISO_masterlist)]

# Print the resulting DataFrame
display(consize_df)

       Country Name Country Code  Year  Land area (sq. km)
0             Aruba          ABW  1960                 NaN
2       Afghanistan          AFG  1960                 NaN
4            Angola          AGO  1960                 NaN
5           Albania          ALB  1960                 NaN
6           Andorra          AND  1960                 NaN
...             ...          ...   ...                 ...
16486         Samoa          WSM  2021              2780.0
16488   Yemen, Rep.          YEM  2021            527970.0
16489  South Africa          ZAF  2021           1213090.0
16490        Zambia          ZMB  2021            743390.0
16491      Zimbabwe          ZWE  2021            386850.0

[13330 rows x 4 columns]

## WGI Voice and Accountability

In [ ]:
voice_account_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\wgidataset.xlsx", sheet_name= "VoiceandAccountability")

In [159]:
# Set the headers as the values in the first row (index 13)
voice_account_df.columns = voice_account_df.iloc[13]

# Drop the first ten rows
voice_account_df = voice_account_df.drop(index=range(12))

# Reset the index after dropping rows
voice_account_df = voice_account_df.reset_index(drop=True)

# Set the headers as the values in the first row (index 0)
voice_account_df.columns = voice_account_df.iloc[0]

# Filter columns based on whether row 2 contains the word "Estimate"
voice_account_df = voice_account_df.iloc[:, :2].join(voice_account_df.loc[:, voice_account_df.iloc[1] == 'Estimate'])

# Filter rows based on whether the country code is in the predefined list
voice_account_df = voice_account_df[voice_account_df['Code'].isin(ISO_masterlist)]

display(voice_account_df)

,Country/Territory,Code,1996,1998,2000,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,0.737521,1.15323,1.017273,...,1.278059,1.27685,1.273961,1.279364,1.295549,1.282693,1.262558,1.282143,1.018641,1.009182
4,Afghanistan,AFG,-1.90854,-2.039301,-2.031417,-1.433421,-1.177571,-1.203034,-1.12543,-1.110294,...,-1.240068,-1.13544,-1.117557,-1.037788,-0.990814,-1.007052,-1.006575,-1.077689,-1.56789,-1.751587
5,Angola,AGO,-1.578164,-1.411879,-1.458065,-1.238779,-1.272615,-1.28548,-1.234719,-1.252088,...,-1.113844,-1.14523,-1.177087,-1.140293,-1.094525,-0.903365,-0.793237,-0.816003,-0.854894,-0.797131
6,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,0.854418,0.903781,1.017273,...,1.004767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Albania,ALB,-0.648298,-0.387373,-0.285139,-0.00815,0.070308,0.007237,0.003672,0.07589,...,0.048893,0.143777,0.157162,0.170949,0.203808,0.188694,0.14188,0.086403,0.085914,0.139466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"Yemen, Rep.",YEM,-0.681765,-0.777622,-0.801567,-1.161359,-0.892347,-0.965285,-1.049739,-1.18712,...,-1.333612,-1.301004,-1.52345,-1.690165,-1.691051,-1.759764,-1.780088,-1.764032,-1.68093,-1.618616
211,Serbia,SRB,-1.215804,-0.973843,-0.637738,0.003406,-0.120494,-0.17605,-0.206955,0.214459,...,0.285488,0.212629,0.231072,0.199925,0.117244,-0.014972,-0.046881,-0.120646,-0.127868,-0.099995
212,South Africa,ZAF,0.841139,0.846978,0.74624,0.659822,0.700217,0.715737,0.64901,0.651613,...,0.600703,0.640374,0.648585,0.648347,0.630478,0.637541,0.642935,0.688375,0.770391,0.707014
214,Zambia,ZMB,-0.334019,-0.483754,-0.413114,-0.317013,-0.36678,-0.444225,-0.430346,-0.207338,...,-0.106042,-0.109431,-0.066544,-0.30062,-0.335554,-0.336164,-0.30962,-0.428919,-0.369448,-0.089141
215,Zimbabwe,ZWE,-0.61155,-0.789812,-1.085388,-1.363361,-1.431192,-1.553577,-1.674941,-1.539244,...,-1.38622,-1.256889,-1.166087,-1.17846,-1.195905,-1.136798,-1.163669,-1.113408,-1.13583,-1.102206

In [160]:
# Melt the DataFrame to transform the years into a single column
VA_df = pd.melt(voice_account_df, id_vars=['Country/Territory', 'Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
#VA_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
#VA_df.rename(columns={'Value': 'Land area (sq. km)'}, inplace=True)

# Rename column 'A' to 'New_A'
VA_df.rename(columns={'Country/Territory': 'Country Name'}, inplace=True)
VA_df.rename(columns={'Code': 'Country Code'}, inplace=True)
VA_df.rename(columns={'Value': 'WGI VA'}, inplace=True)

# Print the resulting DataFrame
display(VA_df)

      Country Name Country Code  Year    WGI VA
0            Aruba          ABW  1996       NaN
1      Afghanistan          AFG  1996  -1.90854
2           Angola          AGO  1996 -1.578164
3         Anguilla          AIA  1996       NaN
4          Albania          ALB  1996 -0.648298
...            ...          ...   ...       ...
4963   Yemen, Rep.          YEM  2022 -1.618616
4964        Serbia          SRB  2022 -0.099995
4965  South Africa          ZAF  2022  0.707014
4966        Zambia          ZMB  2022 -0.089141
4967      Zimbabwe          ZWE  2022 -1.102206

[4968 rows x 4 columns]

## WGI Political Stability No Violence

In [161]:
political_stability_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\wgidataset.xlsx", sheet_name= "Political StabilityNoViolence")

# Set the headers as the values in the first row (index 13)
political_stability_df.columns = political_stability_df.iloc[13]

# Drop the first ten rows
political_stability_df = political_stability_df.drop(index=range(12))

# Reset the index after dropping rows
political_stability_df = political_stability_df.reset_index(drop=True)

# Set the headers as the values in the first row (index 0)
political_stability_df.columns = political_stability_df.iloc[0]

# Filter columns based on whether row 2 contains the word "Estimate"
political_stability_df = political_stability_df.iloc[:, :2].join(political_stability_df.loc[:, political_stability_df.iloc[1] == 'Estimate'])

# Filter rows based on whether the country code is in the predefined list
political_stability_df = political_stability_df[political_stability_df['Code'].isin(ISO_masterlist)]

display(political_stability_df)

,Country/Territory,Code,1996,1998,2000,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,0.993218,1.376416,1.303461,...,1.312226,1.164568,1.21024,1.260759,1.313844,1.337276,1.335669,1.371497,1.431547,1.474684
4,Afghanistan,AFG,-2.41731,-2.427355,-2.438969,-2.035034,-2.198372,-2.295682,-2.06751,-2.219135,...,-2.519349,-2.411068,-2.562625,-2.662156,-2.794974,-2.753262,-2.652407,-2.702632,-2.51853,-2.550802
5,Angola,AGO,-2.061917,-2.318058,-2.038174,-1.57618,-1.007386,-1.063121,-0.885178,-0.539453,...,-0.391233,-0.333232,-0.505386,-0.32158,-0.389135,-0.347751,-0.370095,-0.600726,-0.709369,-0.646241
6,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,0.788185,1.189666,1.1048,...,1.53398,1.164255,1.220002,1.284043,1.358389,1.254837,1.316909,1.503743,1.5286,1.128859
7,Albania,ALB,-0.336625,-0.544004,-0.53999,-0.297719,-0.30978,-0.42726,-0.505048,-0.508157,...,0.09193,0.485986,0.341639,0.337448,0.37377,0.366643,0.11005,0.088576,0.196294,0.114945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"Yemen, Rep.",YEM,-1.311538,-1.192847,-1.145441,-1.30688,-1.481762,-1.551187,-1.436673,-1.345312,...,-2.374828,-2.665575,-2.668016,-2.784489,-2.934315,-2.996031,-2.770874,-2.647646,-2.58031,-2.47688
211,Serbia,SRB,-1.03472,-2.142449,-1.643598,-0.512546,-0.582542,-0.507584,-0.762414,-0.537568,...,-0.075638,0.184111,0.234833,0.133282,0.083367,0.005221,-0.078094,-0.170779,-0.085266,-0.172904
212,South Africa,ZAF,-0.379188,-0.546053,-0.227865,-0.25479,-0.312843,-0.13173,-0.162092,0.04703,...,-0.046295,-0.146389,-0.220545,-0.149085,-0.284804,-0.237622,-0.28325,-0.252888,-0.750981,-0.722118
214,Zambia,ZMB,-0.159949,0.218868,0.03572,-0.274405,0.21838,0.190814,0.108463,0.363792,...,0.435933,0.156212,0.14471,0.132928,0.142043,0.082525,-0.11703,-0.131005,0.052348,0.102314
215,Zimbabwe,ZWE,-0.466122,-0.740443,-1.318818,-1.51587,-1.087581,-1.204704,-1.267644,-0.931996,...,-0.66595,-0.71357,-0.619207,-0.62081,-0.710431,-0.721038,-0.943286,-1.052728,-0.954426,-0.8845

In [162]:
# Melt the DataFrame to transform the years into a single column
PS_df = pd.melt(political_stability_df, id_vars=['Country/Territory', 'Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
#VA_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
#VA_df.rename(columns={'Value': 'Land area (sq. km)'}, inplace=True)

# Rename column 'A' to 'New_A'
PS_df.rename(columns={'Country/Territory': 'Country Name'}, inplace=True)
PS_df.rename(columns={'Code': 'Country Code'}, inplace=True)
PS_df.rename(columns={'Value': 'WGI PS'}, inplace=True)

# Print the resulting DataFrame
display(PS_df)

      Country Name Country Code  Year    WGI PS
0            Aruba          ABW  1996       NaN
1      Afghanistan          AFG  1996  -2.41731
2           Angola          AGO  1996 -2.061917
3         Anguilla          AIA  1996       NaN
4          Albania          ALB  1996 -0.336625
...            ...          ...   ...       ...
4963   Yemen, Rep.          YEM  2022  -2.47688
4964        Serbia          SRB  2022 -0.172904
4965  South Africa          ZAF  2022 -0.722118
4966        Zambia          ZMB  2022  0.102314
4967      Zimbabwe          ZWE  2022   -0.8845

[4968 rows x 4 columns]

## WGI Government Effectiveness

In [163]:
gov_effect_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\wgidataset.xlsx", sheet_name= "GovernmentEffectiveness")

# Set the headers as the values in the first row (index 13)
gov_effect_df.columns = gov_effect_df.iloc[13]

# Drop the first ten rows
gov_effect_df = gov_effect_df.drop(index=range(12))

# Reset the index after dropping rows
gov_effect_df = gov_effect_df.reset_index(drop=True)

# Set the headers as the values in the first row (index 0)
gov_effect_df.columns = gov_effect_df.iloc[0]

# Filter columns based on whether row 2 contains the word "Estimate"
gov_effect_df = gov_effect_df.iloc[:, :2].join(gov_effect_df.loc[:, gov_effect_df.iloc[1] == 'Estimate'])

# Filter rows based on whether the country code is in the predefined list
gov_effect_df = gov_effect_df[gov_effect_df['Code'].isin(ISO_masterlist)]

display(gov_effect_df)

,Country/Territory,Code,1996,1998,2000,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,1.281389,1.287598,1.279818,...,1.221326,0.88789,0.848053,0.853405,0.875805,1.013473,0.987837,1.075225,1.08404,1.105333
4,Afghanistan,AFG,-2.175167,-2.102292,-2.173946,-1.587687,-1.175768,-0.945146,-1.228816,-1.473652,...,-1.399491,-1.359305,-1.396184,-1.290253,-1.388972,-1.501345,-1.518614,-1.609509,-1.669562,-1.879552
5,Angola,AGO,-0.85994,-1.055107,-1.075034,-1.132157,-1.124224,-1.328872,-1.110219,-1.381049,...,-1.242677,-1.055904,-0.928497,-0.971014,-0.951665,-1.005115,-1.128562,-1.258394,-1.128076,-1.040429
6,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,1.059013,1.553322,1.538403,...,1.532685,0.9483,0.9623,1.276488,0.783603,0.774845,0.762488,0.912028,0.916737,1.219509
7,Albania,ALB,-0.688588,-0.732603,-0.91778,-0.624333,-0.563987,-0.408372,-0.696387,-0.580953,...,-0.323876,-0.048918,0.02824,0.029821,0.098736,0.08065,-0.062144,-0.15488,-0.03536,0.065063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"Yemen, Rep.",YEM,-0.624155,-0.797986,-0.81583,-0.891898,-0.863627,-0.97316,-0.917643,-0.920007,...,-1.227779,-1.434405,-1.712408,-1.905879,-1.952667,-2.273737,-2.329373,-2.36193,-2.324521,-2.232542
211,Serbia,SRB,-1.06468,-0.883072,-0.834016,-0.554946,-0.665495,-0.251168,-0.360926,-0.238503,...,-0.178428,0.002236,-0.001533,-0.038202,0.073266,0.074626,-0.016627,-0.042799,0.012669,0.065668
212,South Africa,ZAF,1.020496,0.624708,0.645909,0.607831,0.59958,0.55914,0.567058,0.325101,...,0.30619,0.165477,0.087739,0.101931,0.070898,0.103733,0.127881,0.045241,-0.071013,-0.125318
214,Zambia,ZMB,-1.128376,-1.069229,-1.078764,-0.924903,-1.008481,-0.931253,-0.936883,-0.877599,...,-0.519751,-0.533404,-0.642433,-0.737052,-0.700922,-0.653432,-0.741947,-0.824801,-0.841102,-0.658233
215,Zimbabwe,ZWE,-0.318771,-0.424851,-0.757243,-0.839923,-0.935436,-1.007126,-1.358318,-1.26054,...,-1.308181,-1.279434,-1.248707,-1.257999,-1.282108,-1.297906,-1.319774,-1.355726,-1.304817,-1.254613

In [164]:
# Melt the DataFrame to transform the years into a single column
GE_df = pd.melt(gov_effect_df, id_vars=['Country/Territory', 'Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
#VA_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
#VA_df.rename(columns={'Value': 'Land area (sq. km)'}, inplace=True)

# Rename column 'A' to 'New_A'
GE_df.rename(columns={'Country/Territory': 'Country Name'}, inplace=True)
GE_df.rename(columns={'Code': 'Country Code'}, inplace=True)
GE_df.rename(columns={'Value': 'WGI GE'}, inplace=True)

# Print the resulting DataFrame
display(GE_df)

      Country Name Country Code  Year    WGI GE
0            Aruba          ABW  1996       NaN
1      Afghanistan          AFG  1996 -2.175167
2           Angola          AGO  1996  -0.85994
3         Anguilla          AIA  1996       NaN
4          Albania          ALB  1996 -0.688588
...            ...          ...   ...       ...
4963   Yemen, Rep.          YEM  2022 -2.232542
4964        Serbia          SRB  2022  0.065668
4965  South Africa          ZAF  2022 -0.125318
4966        Zambia          ZMB  2022 -0.658233
4967      Zimbabwe          ZWE  2022 -1.254613

[4968 rows x 4 columns]

## WGI Regulatory Quality

In [165]:
reg_qual_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\wgidataset.xlsx", sheet_name= "RegulatoryQuality")

# Set the headers as the values in the first row (index 13)
reg_qual_df.columns = reg_qual_df.iloc[13]

# Drop the first ten rows
reg_qual_df = reg_qual_df.drop(index=range(12))

# Reset the index after dropping rows
reg_qual_df = reg_qual_df.reset_index(drop=True)

# Set the headers as the values in the first row (index 0)
reg_qual_df.columns = reg_qual_df.iloc[0]

# Filter columns based on whether row 2 contains the word "Estimate"
reg_qual_df = reg_qual_df.iloc[:, :2].join(reg_qual_df.loc[:, reg_qual_df.iloc[1] == 'Estimate'])

# Filter rows based on whether the country code is in the predefined list
reg_qual_df = reg_qual_df[reg_qual_df['Code'].isin(ISO_masterlist)]

display(reg_qual_df)

,Country/Territory,Code,1996,1998,2000,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,0.762954,0.864074,0.855287,...,1.42088,1.245361,1.358142,1.335745,1.181223,0.846328,0.846234,0.914809,0.939555,0.967043
4,Afghanistan,AFG,-2.09033,-2.062872,-2.080253,-1.811546,-1.463108,-1.511549,-1.64344,-1.689469,...,-1.19309,-1.124134,-1.018826,-1.339695,-1.369763,-1.138204,-1.113778,-1.389163,-1.311682,-1.271806
5,Angola,AGO,-1.415345,-1.445262,-1.507048,-1.294135,-1.187467,-1.226714,-1.240036,-1.156216,...,-1.04167,-0.860683,-0.863671,-0.969251,-1.045097,-0.800683,-0.833845,-0.856853,-0.670015,-0.606699
6,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,0.907689,1.111617,1.349776,...,1.319419,0.880748,0.898378,0.860477,0.831546,0.813936,0.835125,0.930366,0.946981,0.972117
7,Albania,ALB,-0.474402,-0.441556,-0.41591,-0.311401,-0.490217,-0.187492,-0.400731,-0.148599,...,0.25416,0.279038,0.174237,0.186608,0.220623,0.25608,0.272065,0.221967,0.175859,0.159354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"Yemen, Rep.",YEM,-0.439128,-0.600994,-0.709426,-0.881513,-0.778926,-0.884179,-0.835764,-0.773363,...,-0.738604,-0.909684,-1.156773,-1.498029,-1.48944,-1.636975,-1.702668,-1.857522,-2.040683,-1.91755
211,Serbia,SRB,-0.71716,-0.822419,-0.857415,-0.638884,-0.611243,-0.467084,-0.623985,-0.530395,...,-0.062625,0.181434,0.136263,0.024931,-0.046573,0.099696,0.097265,0.080396,0.03552,0.137092
212,South Africa,ZAF,0.515014,0.50777,0.540943,0.733768,0.819586,0.692467,0.715097,0.746973,...,0.380482,0.230834,0.208594,0.119783,0.138913,-0.040778,0.008505,0.020495,-0.090709,-0.185126
214,Zambia,ZMB,-0.482704,-0.29348,-0.447519,-0.760921,-0.640949,-0.629703,-0.742619,-0.655607,...,-0.494723,-0.533905,-0.495387,-0.539625,-0.515828,-0.527299,-0.613412,-0.687794,-0.570348,-0.529058
215,Zimbabwe,ZWE,-0.765806,-0.842345,-1.391089,-1.798834,-1.855192,-1.974932,-2.201544,-1.934422,...,-1.854899,-1.892658,-1.656233,-1.694922,-1.583454,-1.525652,-1.486515,-1.434415,-1.386109,-1.425967

In [166]:
# Melt the DataFrame to transform the years into a single column
RQ_df = pd.melt(reg_qual_df, id_vars=['Country/Territory', 'Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
#VA_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
#VA_df.rename(columns={'Value': 'Land area (sq. km)'}, inplace=True)

# Rename column 'A' to 'New_A'
RQ_df.rename(columns={'Country/Territory': 'Country Name'}, inplace=True)
RQ_df.rename(columns={'Code': 'Country Code'}, inplace=True)
RQ_df.rename(columns={'Value': 'WGI RQ'}, inplace=True)

# Print the resulting DataFrame
display(RQ_df)

      Country Name Country Code  Year    WGI RQ
0            Aruba          ABW  1996       NaN
1      Afghanistan          AFG  1996  -2.09033
2           Angola          AGO  1996 -1.415345
3         Anguilla          AIA  1996       NaN
4          Albania          ALB  1996 -0.474402
...            ...          ...   ...       ...
4963   Yemen, Rep.          YEM  2022  -1.91755
4964        Serbia          SRB  2022  0.137092
4965  South Africa          ZAF  2022 -0.185126
4966        Zambia          ZMB  2022 -0.529058
4967      Zimbabwe          ZWE  2022 -1.425967

[4968 rows x 4 columns]

## WGI Rule of Law

In [169]:
rule_law_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\wgidataset.xlsx", sheet_name= "RuleofLaw")

# Set the headers as the values in the first row (index 13)
rule_law_df.columns = rule_law_df.iloc[13]

# Drop the first ten rows
rule_law_df = rule_law_df.drop(index=range(12))

# Reset the index after dropping rows
rule_law_df = rule_law_df.reset_index(drop=True)

# Set the headers as the values in the first row (index 0)
rule_law_df.columns = rule_law_df.iloc[0]

# Filter columns based on whether row 2 contains the word "Estimate"
rule_law_df = rule_law_df.iloc[:, :2].join(rule_law_df.loc[:, rule_law_df.iloc[1] == 'Estimate'])

# Filter rows based on whether the country code is in the predefined list
rule_law_df = rule_law_df[rule_law_df['Code'].isin(ISO_masterlist)]

display(rule_law_df)

,Country/Territory,Code,1996,1998,2000,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,0.915527,0.847438,0.810431,...,1.292505,1.03631,1.226623,1.226442,1.294832,1.259412,1.227762,1.270262,1.247304,1.278908
4,Afghanistan,AFG,-1.788075,-1.734887,-1.780661,-1.673473,-1.558294,-1.693925,-1.662966,-1.879005,...,-1.609112,-1.437045,-1.515203,-1.520714,-1.583737,-1.688587,-1.741319,-1.831374,-1.876357,-1.658442
5,Angola,AGO,-1.630469,-1.527339,-1.601502,-1.633344,-1.482856,-1.520916,-1.464795,-1.311273,...,-1.290796,-1.07479,-1.030846,-1.003866,-1.039732,-1.000932,-1.025191,-0.950999,-0.98448,-1.021905
6,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,1.143318,1.633369,1.586802,...,1.360453,0.019608,-0.080394,-0.12312,-0.146184,-0.142761,0.300359,0.374158,0.38406,0.428122
7,Albania,ALB,-0.684482,-0.929672,-1.020668,-0.762321,-0.716323,-0.701032,-0.763833,-0.703136,...,-0.518606,-0.31098,-0.318997,-0.321365,-0.412762,-0.414188,-0.425379,-0.376249,-0.280372,-0.165779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"Yemen, Rep.",YEM,-1.379764,-1.39227,-1.457242,-1.473911,-1.26041,-1.233477,-1.267336,-1.039284,...,-1.186562,-1.195837,-1.288282,-1.673383,-1.765303,-1.806851,-1.790671,-1.776093,-1.802895,-1.849667
211,Serbia,SRB,-1.262493,-1.264377,-1.277987,-0.903619,-0.904822,-0.738363,-0.948701,-0.536949,...,-0.29862,-0.094555,-0.075847,-0.126964,-0.179857,-0.170304,-0.14376,-0.122739,-0.114919,-0.11329
212,South Africa,ZAF,0.087929,0.157686,0.148772,0.027392,0.037599,0.004516,-0.011951,0.18131,...,0.135494,0.155455,0.016313,0.045058,-0.155082,-0.221448,-0.183931,-0.240638,0.06908,0.019737
214,Zambia,ZMB,-0.531715,-0.468716,-0.532827,-0.349136,-0.381814,-0.479586,-0.517538,-0.549667,...,-0.262,-0.224576,-0.242752,-0.312088,-0.339759,-0.3582,-0.474515,-0.648183,-0.607838,-0.519154
215,Zimbabwe,ZWE,-0.814238,-0.77431,-1.381908,-1.596318,-1.607022,-1.688897,-1.834908,-1.751685,...,-1.587261,-1.441469,-1.338473,-1.390663,-1.396204,-1.292463,-1.303515,-1.329611,-1.277202,-1.236284

In [170]:
# Melt the DataFrame to transform the years into a single column
RL_df = pd.melt(rule_law_df, id_vars=['Country/Territory', 'Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
#VA_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
#VA_df.rename(columns={'Value': 'Land area (sq. km)'}, inplace=True)

# Rename column 'A' to 'New_A'
RL_df.rename(columns={'Country/Territory': 'Country Name'}, inplace=True)
RL_df.rename(columns={'Code': 'Country Code'}, inplace=True)
RL_df.rename(columns={'Value': 'WGI RL'}, inplace=True)

# Print the resulting DataFrame
display(RL_df)

      Country Name Country Code  Year    WGI RL
0            Aruba          ABW  1996       NaN
1      Afghanistan          AFG  1996 -1.788075
2           Angola          AGO  1996 -1.630469
3         Anguilla          AIA  1996       NaN
4          Albania          ALB  1996 -0.684482
...            ...          ...   ...       ...
4963   Yemen, Rep.          YEM  2022 -1.849667
4964        Serbia          SRB  2022  -0.11329
4965  South Africa          ZAF  2022  0.019737
4966        Zambia          ZMB  2022 -0.519154
4967      Zimbabwe          ZWE  2022 -1.236284

[4968 rows x 4 columns]

## WGI Control of Corruption

In [171]:
cont_cor_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\wgidataset.xlsx", sheet_name= "ControlofCorruption")

# Set the headers as the values in the first row (index 13)
cont_cor_df.columns = cont_cor_df.iloc[13]

# Drop the first ten rows
cont_cor_df = cont_cor_df.drop(index=range(12))

# Reset the index after dropping rows
cont_cor_df = cont_cor_df.reset_index(drop=True)

# Set the headers as the values in the first row (index 0)
cont_cor_df.columns = cont_cor_df.iloc[0]

# Filter columns based on whether row 2 contains the word "Estimate"
cont_cor_df = cont_cor_df.iloc[:, :2].join(cont_cor_df.loc[:, cont_cor_df.iloc[1] == 'Estimate'])

# Filter rows based on whether the country code is in the predefined list
cont_cor_df = cont_cor_df[cont_cor_df['Code'].isin(ISO_masterlist)]

display(cont_cor_df)

,Country/Territory,Code,1996,1998,2000,2002,2003,2004,2005,2006,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,1.165965,1.269663,1.251313,...,1.119407,1.014232,1.248461,1.232735,1.239377,1.207429,1.174703,1.199392,0.801611,0.756785
4,Afghanistan,AFG,-1.291705,-1.176012,-1.271724,-1.251137,-1.34418,-1.350647,-1.447252,-1.446292,...,-1.445908,-1.364743,-1.35424,-1.540353,-1.53191,-1.502881,-1.419499,-1.4937,-1.152327,-1.183776
5,Angola,AGO,-1.167702,-1.180451,-1.197514,-1.155493,-1.335463,-1.377569,-1.323182,-1.241038,...,-1.336875,-1.457798,-1.427323,-1.483337,-1.444333,-1.199251,-1.058418,-0.938673,-0.65161,-0.601941
6,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,0.83826,1.269663,1.251313,...,1.253549,1.220709,1.151811,1.159556,1.171758,1.179166,1.176592,0.632469,0.638071,1.270204
7,Albania,ALB,-0.893903,-0.992025,-0.855564,-0.845341,-0.853787,-0.723732,-0.813264,-0.790545,...,-0.750956,-0.586141,-0.544385,-0.471469,-0.480891,-0.54584,-0.5639,-0.572924,-0.576536,-0.407876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"Yemen, Rep.",YEM,-0.743732,-0.998175,-0.971831,-0.971152,-1.003051,-1.089906,-0.896564,-0.789497,...,-1.256177,-1.565298,-1.508081,-1.695552,-1.617752,-1.658366,-1.712633,-1.711415,-1.668239,-1.679558
211,Serbia,SRB,-1.140072,-1.195605,-1.156671,-0.895785,-0.494189,-0.493294,-0.406051,-0.277591,...,-0.327526,-0.247089,-0.318084,-0.382536,-0.435452,-0.396322,-0.449989,-0.451218,-0.458569,-0.456188
212,South Africa,ZAF,0.732927,0.638809,0.55027,0.332902,0.275541,0.397753,0.483857,0.378271,...,-0.137832,-0.124875,-0.07051,0.017409,-0.127465,-0.136328,-0.031052,-0.05896,-0.034114,-0.319765
214,Zambia,ZMB,-0.840641,-0.853156,-0.818261,-0.758519,-0.641859,-0.604488,-0.59244,-0.551736,...,-0.315543,-0.347683,-0.368301,-0.42689,-0.567721,-0.678602,-0.673918,-0.733921,-0.759728,-0.5292
215,Zimbabwe,ZWE,-0.278847,-0.504802,-1.127275,-1.15676,-1.188868,-1.253563,-1.314617,-1.372949,...,-1.419667,-1.404367,-1.337617,-1.288441,-1.298485,-1.246001,-1.27119,-1.287992,-1.25355,-1.255139

In [172]:
# Melt the DataFrame to transform the years into a single column
CC_df = pd.melt(cont_cor_df, id_vars=['Country/Territory', 'Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
#VA_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
# Rename column 'A' to 'New_A'
#VA_df.rename(columns={'Value': 'Land area (sq. km)'}, inplace=True)

# Rename column 'A' to 'New_A'
CC_df.rename(columns={'Country/Territory': 'Country Name'}, inplace=True)
CC_df.rename(columns={'Code': 'Country Code'}, inplace=True)
CC_df.rename(columns={'Value': 'WGI CC'}, inplace=True)

# Print the resulting DataFrame
display(CC_df)

      Country Name Country Code  Year    WGI CC
0            Aruba          ABW  1996       NaN
1      Afghanistan          AFG  1996 -1.291705
2           Angola          AGO  1996 -1.167702
3         Anguilla          AIA  1996       NaN
4          Albania          ALB  1996 -0.893903
...            ...          ...   ...       ...
4963   Yemen, Rep.          YEM  2022 -1.679558
4964        Serbia          SRB  2022 -0.456188
4965  South Africa          ZAF  2022 -0.319765
4966        Zambia          ZMB  2022   -0.5292
4967      Zimbabwe          ZWE  2022 -1.255139

[4968 rows x 4 columns]

## Education

In [175]:
education_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\education.xlsx")
# Filter rows based on whether the country code is in the predefined list
education_df = education_df[education_df['Country Code'].isin(ISO_masterlist)]

display(education_df)

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,..,8.31087,..,..,..,9.96379,..,10.85844,..,..
1,Albania,ALB,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,65.315292,66.826012,62.986561,59.27449,58.653511,56.608871,62.076092,61.392578,60.317581,62.731991
2,Algeria,DZA,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,35.495941,36.062248,38.330978,44.105289,49.377911,53.1637,54.185631,53.614029,54.209991,53.401249
3,American Samoa,ASM,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,14.75995,13.70014,13.88196,15.10891,15.43694,15.39403,15,15.09827,15.20427,34.48035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
213,West Bank and Gaza,PSE,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,45.9454,45.43148,46.583752,45.710522,45.663101,46.44957,45.354912,44.841141,43.510651,44.984638
214,"Yemen, Rep.",YEM,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
215,Zambia,ZMB,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
216,Zimbabwe,ZWE,"School enrollment, tertiary (% gross)",SE.TER.ENRR,..,..,..,..,..,..,...,7.63055,..,10.60087,7.926106,8.542076,8.425119,9.995644,9.723605,..,..

In [176]:
# Melt the DataFrame to transform the years into a single column
EDU_df = pd.melt(education_df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
EDU_df.drop(columns=['Series Name', 'Series Code'], inplace=True)

# Rename column 'A' to 'New_A'
EDU_df.rename(columns={'Value': 'Education'}, inplace=True)

# Print the resulting DataFrame
display(EDU_df)

                Country Name Country Code  Year  Education
0                Afghanistan          AFG  1960         ..
1                    Albania          ALB  1960         ..
2                    Algeria          DZA  1960         ..
3             American Samoa          ASM  1960         ..
4                    Andorra          AND  1960         ..
...                      ...          ...   ...        ...
13540  Virgin Islands (U.S.)          VIR  2022         ..
13541     West Bank and Gaza          PSE  2022  44.984638
13542            Yemen, Rep.          YEM  2022         ..
13543                 Zambia          ZMB  2022         ..
13544               Zimbabwe          ZWE  2022         ..

[13545 rows x 4 columns]

## Innovation

In [177]:
innovation_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\innovation.xlsx")
# Filter rows based on whether the country code is in the predefined list
innovation_df = innovation_df[innovation_df['Country Code'].isin(ISO_masterlist)]

display(innovation_df)

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AFG,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,Albania,ALB,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,..,..,10,14,20,16,15,4,..,23
2,Algeria,DZA,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,119,118,94,89,106,149,152,113,163,268
3,American Samoa,ASM,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,..,..,..,..,..,..,1,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
213,West Bank and Gaza,PSE,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
214,"Yemen, Rep.",YEM,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,36,43,29,5,16,15,..,60,60,20
215,Zambia,ZMB,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,7,13,14,20,15,12,11,2,17,13
216,Zimbabwe,ZWE,"Patent applications, residents",IP.PAT.RESD,..,..,..,..,..,..,...,..,..,..,9,8,..,..,..,..,..

In [178]:
# Melt the DataFrame to transform the years into a single column
INV_df = pd.melt(innovation_df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
INV_df.drop(columns=['Series Name', 'Series Code'], inplace=True)

# Rename column 'A' to 'New_A'
INV_df.rename(columns={'Value': 'Innovation'}, inplace=True)

# Print the resulting DataFrame
display(INV_df)

                Country Name Country Code  Year Innovation
0                Afghanistan          AFG  1960         ..
1                    Albania          ALB  1960         ..
2                    Algeria          DZA  1960         ..
3             American Samoa          ASM  1960         ..
4                    Andorra          AND  1960         ..
...                      ...          ...   ...        ...
13325  Virgin Islands (U.S.)          VIR  2021         ..
13326     West Bank and Gaza          PSE  2021         ..
13327            Yemen, Rep.          YEM  2021         20
13328                 Zambia          ZMB  2021         13
13329               Zimbabwe          ZWE  2021         ..

[13330 rows x 4 columns]

## Social Inequality

In [179]:
so_ine_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\socialinequality.xlsx")
# Filter rows based on whether the country code is in the predefined list
so_ine_df = so_ine_df[so_ine_df['Country Code'].isin(ISO_masterlist)]
display(so_ine_df)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Aruba,ABW,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.8,NaN,NaN,NaN,NaN,NaN
5,Albania,ALB,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,7.7,7.3,7.6,7.9,8.5,8.4,NaN,NaN,NaN
6,Andorra,AND,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,7.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.1,NaN,NaN,NaN,NaN,NaN,NaN,3.8,NaN
265,Zimbabwe,ZWE,Income share held by lowest 20%,SI.DST.FRST.20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
# Melt the DataFrame to transform the years into a single column
SI_df = pd.melt(so_ine_df, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
SI_df.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)

# Rename column 'A' to 'New_A'
SI_df.rename(columns={'Value': 'Social Inequality'}, inplace=True)

# Print the resulting DataFrame
display(SI_df)

       Country Name Country Code  Year  Social Inequality
0             Aruba          ABW  1960                NaN
1       Afghanistan          AFG  1960                NaN
2            Angola          AGO  1960                NaN
3           Albania          ALB  1960                NaN
4           Andorra          AND  1960                NaN
...             ...          ...   ...                ...
13755         Samoa          WSM  2023                NaN
13756   Yemen, Rep.          YEM  2023                NaN
13757  South Africa          ZAF  2023                NaN
13758        Zambia          ZMB  2023                NaN
13759      Zimbabwe          ZWE  2023                NaN

[13760 rows x 4 columns]

## ICT

In [181]:
tele_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\ICT\telephone.xlsx")
# Filter rows based on whether the country code is in the predefined list
tele_df = tele_df[tele_df['Country Code'].isin(ISO_masterlist)]
display(tele_df)

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,0.089302,0.085584,0.085584,0.085584,0.085584,0.097228,...,0.303631,0.311561,0.325892,0.32969,0.333214,0.348338,0.356468,0.374079,0.363563,..
1,Albania,ALB,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,0.400014,0.418376,0.418376,0.418376,0.418376,0.696143,...,9.740168,8.173567,7.86538,8.630148,8.568586,8.641984,8.45055,7.794937,6.925047,6.232653
2,Algeria,DZA,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,..,..,..,..,..,0.587178,...,8.244151,7.994772,8.263357,8.440173,9.969194,10.019601,10.854984,11.013992,11.537558,12.418246
3,American Samoa,ASM,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,..,..,..,..,..,..,...,18.869705,18.959343,19.467373,..,..,..,21.132267,21.650176,22.204952,..
4,Andorra,AND,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,..,..,..,..,..,3.686772,...,54.048146,53.387227,54.14936,53.341605,52.022049,52.490902,51.945823,62.56242,62.971632,63.728954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,..,..,..,..,..,..,...,73.036191,73.609781,73.927085,..,..,..,75.377383,75.665558,75.930903,..
213,West Bank and Gaza,PSE,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,..,..,..,..,..,..,...,9.30017,9.102526,8.975162,9.319073,10.031941,9.659532,9.378631,9.14027,9.302172,..
214,"Yemen, Rep.",YEM,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,..,..,..,..,..,..,...,4.235843,4.21067,4.005489,3.982469,3.962125,..,3.930682,3.840906,3.759667,..
215,Zambia,ZMB,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,0.480857,0.488476,0.488476,0.488476,0.488476,0.467465,...,0.759844,0.72704,0.714939,0.604774,0.586447,0.563157,0.526205,0.37957,0.338482,0.480995
216,Zimbabwe,ZWE,Fixed telephone subscriptions (per 100 people),IT.MLT.MAIN.P2,1.444969,1.45631,1.45631,1.45631,1.45631,1.461611,...,2.24384,2.377893,2.357495,2.115314,1.790714,1.786113,1.730647,1.60863,1.521997,1.785015

In [182]:
# Melt the DataFrame to transform the years into a single column
TE_df = pd.melt(tele_df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
TE_df.drop(columns=['Series Name', 'Series Code'], inplace=True)

# Rename column 'A' to 'New_A'
TE_df.rename(columns={'Value': 'Fixed Telephone Users (pr. 100)'}, inplace=True)

# Print the resulting DataFrame
display(TE_df)

,Country Name,Country Code,Year,Fixed Telephone Users (pr. 100)
0,Afghanistan,AFG,1960,0.089302
1,Albania,ALB,1960,0.400014
2,Algeria,DZA,1960,..
3,American Samoa,ASM,1960,..
4,Andorra,AND,1960,..
...,...,...,...,...
13540,Virgin Islands (U.S.),VIR,2022,..
13541,West Bank and Gaza,PSE,2022,..
13542,"Yemen, Rep.",YEM,2022,..
13543,Zambia,ZMB,2022,0.480995
13544,Zimbabwe,ZWE,2022,1.785015

In [183]:
broad_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\ICT\broadband.xlsx")
# Filter rows based on whether the country code is in the predefined list
broad_df = broad_df[broad_df['Country Code'].isin(ISO_masterlist)]
display(broad_df)

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,0.004756,0.004585,0.020937,0.02541,0.025761,0.04361,0.052113,0.068177,0.06626,..
1,Albania,ALB,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,6.32335,7.210702,8.425731,9.245858,10.544445,12.580652,15.177787,17.752493,19.595476,20.480094
2,Algeria,DZA,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,3.368366,4.127154,5.738915,7.088782,7.803929,7.315147,8.389435,8.723392,9.455018,10.483677
3,American Samoa,ASM,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,38.861643,40.169222,42.781479,44.789082,46.432634,47.542426,47.624537,48.455598,49.850697,51.128733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,8.745123,8.802221,8.754523,..,..,..,..,..,..,..
213,West Bank and Gaza,PSE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,4.916669,5.309577,6.060718,6.917773,7.580678,7.486892,7.324839,7.388363,7.955429,..
214,"Yemen, Rep.",YEM,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,0.951675,1.225079,1.385161,0.943564,1.228605,1.254705,1.210904,1.211125,1.185508,..
215,Zambia,ZMB,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,0.088264,0.130393,0.143954,0.189554,0.207607,0.404959,0.483616,0.434902,0.413863,0.431788
216,Zimbabwe,ZWE,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,..,..,..,..,..,..,...,0.766601,1.098706,1.158515,1.182049,1.269804,1.349014,1.331353,1.298439,1.283851,1.266025

In [185]:
# Melt the DataFrame to transform the years into a single column
BB_df = pd.melt(broad_df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
BB_df.drop(columns=['Series Name', 'Series Code'], inplace=True)

# Rename column 'A' to 'New_A'
BB_df.rename(columns={'Value': 'Fixed broadband subscriptions (pr. 100)'}, inplace=True)

# Print the resulting DataFrame
display(BB_df)

,Country Name,Country Code,Year,Fixed broadband subscriptions (pr. 100)
0,Afghanistan,AFG,1960,..
1,Albania,ALB,1960,..
2,Algeria,DZA,1960,..
3,American Samoa,ASM,1960,..
4,Andorra,AND,1960,..
...,...,...,...,...
13540,Virgin Islands (U.S.),VIR,2022,..
13541,West Bank and Gaza,PSE,2022,..
13542,"Yemen, Rep.",YEM,2022,..
13543,Zambia,ZMB,2022,0.431788
13544,Zimbabwe,ZWE,2022,1.266025

In [186]:
mobile_df = pd.read_excel(r"C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\Data\ICT\mobile.xlsx")
# Filter rows based on whether the country code is in the predefined list
mobile_df = mobile_df[mobile_df['Country Code'].isin(ISO_masterlist)]
display(mobile_df)

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,53.28634,56.263143,58.391096,62.371096,67.136415,59.902648,59.783879,58.190214,56.554435,..
1,Albania,ALB,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,127.67458,116.488737,117.987115,116.962246,125.920527,94.364468,91.516429,91.350501,92.31992,97.885707
2,Algeria,DZA,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,103.990511,111.707911,109.317641,116.614039,111.447531,112.467518,106.369609,104.842178,106.423537,109.165357
3,American Samoa,ASM,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,..,..,..,..,..,..,..,..,..,..
4,Andorra,AND,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,89.581874,92.486945,99.42854,104.951751,108.804648,110.13291,115.150047,103.449163,118.672976,142.214121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Virgin Islands (U.S.),VIR,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,..,..,..,..,..,..,79.344613,79.647956,79.927266,..
213,West Bank and Gaza,PSE,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,..,..,..,..,..,..,...,73.617539,72.20164,77.961373,80.100672,84.179796,89.975754,86.325385,79.63153,77.602212,..
214,"Yemen, Rep.",YEM,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,62.424766,61.614286,52.678026,56.135321,51.134278,49.68345,48.303006,47.013934,46.019542,..
215,Zambia,ZMB,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,68.236412,64.271191,71.132209,71.667493,77.688155,86.736728,93.689663,100.932458,103.974637,99.102418
216,Zimbabwe,ZWE,Mobile cellular subscriptions (per 100 people),IT.CEL.SETS.P2,0,..,..,..,..,0,...,100.573534,85.153452,90.126929,89.11084,95.532557,85.761588,85.940989,84.186274,89.146019,87.624506

In [187]:
# Melt the DataFrame to transform the years into a single column
MB_df = pd.melt(mobile_df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'],
                    var_name='Year', value_name='Value')

# Drop unneeded columns
MB_df.drop(columns=['Series Name', 'Series Code'], inplace=True)

# Rename column 'A' to 'New_A'
MB_df.rename(columns={'Value': 'Fixed broadband subscriptions (pr. 100)'}, inplace=True)

# Merge the DataFrames based on common columns
ICT_df = pd.merge(MB_df, TE_df, on=['Country Name', 'Country Code', 'Year'], how='left')
ICT_df = pd.merge(ICT_df, BB_df, on=['Country Name', 'Country Code', 'Year'], how='left')

# Convert columns to numeric if they contain numeric data but are stored as strings
ICT_df['Fixed broadband subscriptions (pr. 100)_x'] = pd.to_numeric(ICT_df['Fixed broadband subscriptions (pr. 100)_x'], errors='coerce')
ICT_df['Fixed Telephone Users (pr. 100)'] = pd.to_numeric(ICT_df['Fixed Telephone Users (pr. 100)'], errors='coerce')
ICT_df['Fixed broadband subscriptions (pr. 100)_y'] = pd.to_numeric(ICT_df['Fixed broadband subscriptions (pr. 100)_y'], errors='coerce')
# Calculate the average for each row
ICT_df['ICT'] = (ICT_df['Fixed broadband subscriptions (pr. 100)_x'] + ICT_df['Fixed Telephone Users (pr. 100)'] + ICT_df['Fixed broadband subscriptions (pr. 100)_y']) / 3

# Drop unneeded columns using a list
ICT_df.drop(['Fixed broadband subscriptions (pr. 100)_x', 'Fixed Telephone Users (pr. 100)', 'Fixed broadband subscriptions (pr. 100)_y'], axis=1, inplace=True)

# Display the merged DataFrame
display(ICT_df)

                Country Name Country Code  Year        ICT
0                Afghanistan          AFG  1960        NaN
1                    Albania          ALB  1960        NaN
2                    Algeria          DZA  1960        NaN
3             American Samoa          ASM  1960        NaN
4                    Andorra          AND  1960        NaN
...                      ...          ...   ...        ...
13540  Virgin Islands (U.S.)          VIR  2022        NaN
13541     West Bank and Gaza          PSE  2022        NaN
13542            Yemen, Rep.          YEM  2022        NaN
13543                 Zambia          ZMB  2022  33.338401
13544               Zimbabwe          ZWE  2022  30.225182

[13545 rows x 4 columns]

## Predictor DF

In [136]:
import pandas as pd
from functools import reduce

In [216]:
df_list = [population_df, consize_df, VA_df, PS_df, GE_df, RQ_df, RL_df, CC_df, EDU_df, INV_df, SI_df, ICT_df]

# Convert 'Year' column to numeric for each DataFrame in df_list
for df in df_list:
    if 'Year' in df.columns:
        df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

# Identify the key columns for merging
key_columns = ['Country Name', 'Country Code', 'Year']  # Example key columns

# Merge the DataFrames
predictor_df = df_list[0]  # Initialize merged DataFrame with the first DataFrame
for df in df_list[1:]:
    predictor_df = pd.merge(predictor_df, df, on=key_columns, how='outer', suffixes=('_left', '_right'))

# Replace '..' with NaN
predictor_df.replace('..', pd.NA, inplace=True)

# Fill NaN values with 'NaN' if needed
predictor_df.fillna('NaN', inplace=True)

# Drop rows where 'Year' column is 2023
predictor_df = predictor_df[predictor_df['Year'] != 2023]

display(predictor_df)

C:\Users\marc1\AppData\Local\Temp\ipykernel_420\2754033204.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NaN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  predictor_df.fillna('NaN', inplace=True)

,Country Name,Country Code,Year,"Population, total",Land area (sq. km),WGI VA,WGI PS,WGI GE,WGI RQ,WGI RL,WGI CC,Education,Innovation,Social Inequality,ICT
0,Aruba,ABW,1960,54608.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1960,130692579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1960,8622466.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,1960,97256290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,1960,5357195.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17113,São Tomé and Principe,STP,2022,NaN,NaN,0.285294,0.607802,-0.843731,-0.890243,-0.614071,0.284456,NaN,NaN,NaN,NaN
17114,Türkiye,TUR,2022,NaN,NaN,-0.926608,-1.039865,-0.19903,-0.244639,-0.458116,-0.467645,NaN,NaN,NaN,NaN
17115,"Taiwan, China",TWN,2022,NaN,NaN,1.075396,0.754162,1.403518,1.409889,1.258278,1.148139,NaN,NaN,NaN,NaN
17116,Vietnam,VNM,2022,NaN,NaN,-1.288703,-0.030565,0.175491,-0.429956,-0.158443,-0.287283,NaN,NaN,NaN,NaN
17117,"Jersey, Channel Islands",JEY,2022,NaN,NaN,1.266031,1.619479,1.170648,0.977047,1.690608,1.028838,NaN,NaN,NaN,NaN

In [219]:
# Save the DataFrame to an Excel file
predictor_df.to_excel(r'C:\Users\marc1\OneDrive\Desktop\School\Aarhus University\Current Classes\DSPF\DSPF_Final\predictor_data.xlsx', index=False)